# Node modules
node_modules/

# Typings
*.d.ts

# Build output
dist/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Jest test output
coverage/

# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo
